@model IEnumerable<MasGlobal.Common.Model.EmployeeDTO>
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        EmployeeId: <input type="text" name="employeeId" />
        <input type="submit" />
    </div>
    <div id="texts-wrapper">
        <div id="texts">
            @{
                if (ViewData.Model != null)
                {
                    <div class="row">
                        <div class="col-md-1"><b>Id</b></div>
                        <div class="col-md-2"><b>Name</b></div>
                        <div class="col-md-2"><b>Contract Type</b></div>
                        <div class="col-md-2"><b>Role Name</b></div>
                        <div class="col-md-2"><b>Role Description</b></div>
                        <div class="col-md-2"><b>Annual Salary</b></div>
                    </div>
                    foreach (var item in ViewData.Model)
                    {
                        <div class="row">
                            <div class="col-md-1">@item.Id</div>
                            <div class="col-md-2">@item.Name</div>
                            <div class="col-md-2">@item.ContractTypeName</div>
                            <div class="col-md-2">@item.RoleName</div>
                            <div class="col-md-2">@item.RoleDescription</div>
                            <div class="col-md-2">@item.AnualSalary</div>
                        </div>
                    }
                }
            }
        </div>
    </div>
}